/* UI Primary Colors */
$ui-blue: hsla(256, 100%, 65%, 1); // Motion Primary
$ui-blue-dark: hsla(256, 65%, 55%, 1); // Motion Secondary
$ui-blue-10percent: hsla(256, 100%, 65%, .1);
$ui-blue-25percent:  hsla(256, 100%, 65%, .25);

$ui-orange: hsla(343, 100%, 65%, 1); // Control Primary
$ui-orange-high-contrast: hsla(343, 100%, 65%, 1); // Control Primary
$ui-orange-10percent: hsla(343, 90%, 65%, .1);
$ui-orange-25percent: hsla(343, 90%, 65%, .25);
$ui-orange-90percent: hsla(343, 100%, 65%, .9);

$ui-dark-orange: hsla(30, 100%, 55%, 1); // Variables Primary

$ui-red: hsla(20, 100%, 55%, 1);
$ui-red-25percent: hsla(20, 100%, 55%, .25);
$ui-green-35percent: rgba(167, 225, 195, .35);

$ui-light-gray: hsla(256, 35%, 3%, 1); //#FAFAFA
$ui-gray: hsla(256, 35%, 15%, 1); //#F2F2F2
$ui-dark-gray: hsla(256, 35%, 8%, 1); //#B3B3B3

$background-color: hsl(256, 35%, 10%); //#FDFDFD
$background-dark: hsl(256, 35%, 2%); //#FDFDFD

$motion-blue-3: hsla(215, 60%, 50%, 1);//#3373CC

/* UI Secondary Colors */
/* 3.0 colors */
/* Using www naming convention for now, should be consistent with gui */
$ui-aqua: hsl(167, 60%, 30%); 
$ui-aqua-dark: darken($ui-aqua, 10%);
$ui-purple: hsla(256, 100%, 70%, 1); // #9966FF Looks Primary
$ui-purple-dark: hsla(256, 60%, 60%, 1); // #774DCB Looks Secondary
$ui-magenta: hsla(270, 53%, 60%, 1); /* #CF63CF Sounds Primary */

$ui-yellow: hsl(42, 100%, 50%); // Events Primary
$ui-coral: hsla(350, 100%, 70%, 1); // #FF6680 More Blocks Primary
$ui-coral-dark: hsla(350, 100%, 60%, 1); // #FF3355 More Blocks tertiary

$ui-white: hsl(253, 33%, 11%); //#FFF
$ui-white-15percent: hsla(253, 33%, 11%, .15); //#FFF
$ui-light-primary: hsl(256, 36%, 17%);
$ui-light-primary-transparent: hsla(256, 36%, 17%, 0);

$text-white: hsla(0, 100%, 100%, 1); //#FFF
$text-white-15percent: hsla(0, 100%, 100%, .15); //#FFF
$text-light-primary: hsl(256, 36%, 95%);
$text-light-primary-transparent: hsla(256, 36%, 95%, 0);

$ui-border: hsl(256, 30%, 25%); //#D9D9D9

/* modals */
$ui-mint-green: hsl(167, 58%, 18%);
$ui-light-mint: hsl(168, 55%, 25%);

/* Overlay UI Gray Colors */
$active-gray: hsla(0, 0%, 100%, .1);
$active-dark-gray: hsla(0, 0%, 100%, .2);
$box-shadow-gray: hsla(0, 0%, 100%, .25);
$box-shadow-light-gray: hsla(0, 0%, 100%, .15);
$overlay-gray: hsla(0, 0%, 100%, .75);
$transparent-light-blue: rgba(239, 229, 254, 0);

/* Typography Colors */
$header-gray: hsla(225, 15%, 90%, 1); //#575E75
$type-gray: hsla(225, 15%, 90%, 1); //#575E75
$type-dark-gray: hsla(0, 0%, 90%, 1);
$type-gray-75percent: hsla(225, 15%, 70%, .75);
$type-gray-60percent: hsla(225, 15%, 70%, .6);
$type-white: hsla(0, 100%, 100%, 1); //#FFF

$link-blue: rgb(117, 198, 255);
$link-blue-hover: rgb(185, 226, 255);

/* Down Deep */
$dd-darkblue: hsla(195, 72.4%, 17.1%, 1);
$dd-medium-blue: hsla(195, 72.4%, 42%, .65);
